.container {
  margin-bottom: 32px;
}
.buttonGroup {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}

.primaryButton {
  color: #0A38F5;
  border: 1px solid #0A38F5;
  padding: 8px 16px;
  font-size: 14px;
  text-transform: none;
  border-radius: 4px;
  cursor: pointer;
}


.outlinedButton {
  color: #2B3445;
  border: 1px solid #2B3445;
  padding: 8px 16px;
  font-size: 14px;
  text-transform: none;
  border-radius: 4px;
  cursor: pointer;
}


.searchInput {
  width: 100%;
  max-width: 350px;
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #d1d5db;
  border-radius: 4px;
  outline: none;
}
